---
layout: default
title: EthanCalvert.dev
description: I am currently happily employed as the Director of IT at Logic of English
styles:
  - home.css
---

{% assign lastJob = collections.job | last %}

<h2>Currently: {{lastJob.data.jobTitle}} | {{lastJob.data.company}}</h2>

<p>I love building systems that reduce the burden of metawork so we can focus our working hours on work.</p>
<p>See my past jobs on the <a href="/work-history">work history page</a>.</p>
<p>Or check out some rambly <a href="/posts">posts</a></p>
