---
layout: default
title: EthanCalvert.dev
description: I am currently happily employed as the Director of IT at Logic of English
styles:
  - home.css
---

{% assign lastJob = collections.job | last %}

<h2>Currently: {{lastJob.data.jobTitle}} | {{lastJob.data.company}}</h2>

<p>I love thinking about systems. Figuring out how a process should work, applying required technology (if any) to it, and building a sustainable solution is beautiful to me.</p>
<p>See the rest of my work history on the <a href="/work-history">work history page</a>.</p>
<p>Or check out some rambly <a href="/posts">posts</a></p>
