---
layout: default
title: EthanCalvert.dev
description: I am currently happily employed as the Director of IT at Logic of English
---

{% assign lastJob = collections.job | last %}
{{lastJob.templateContent}}

<p>I love thinking about systems. Figuring out how a process should work, applying required technology to it, building the tech stack to be maintainable is beautiful to me.</p>
<p>See the rest of my work history on the <a href="/jobs">jobs page</a>.</p>
