---
layout: default
---
    <h2>Jobs</h2>
<ul>
    {% assign hours = 28800 %}
    {% for job in collections.job %}
        {% assign jb = job.data %}
        {% capture endDate %}
        {% if jb.end %}{{jb.end | date:"%s" | plus: hours | date: "%Y-%m-%d"}}{% else %}Present{%endif%}
        {% endcapture %}
        <li>
            <div class="job-title">{{jb.jobTitle}}</div>
            <div class="job-dates">{{jb.start | date: "%s" | plus: hours | date: "%Y-%m-%d" }} TO {{ endDate}}</div>
        </li>
    {% endfor %}
</ul>