:root {
  --main-color: #034199;
  --text-color: #555;
  --bold-color: #000;
  --dec-font: "Open Sans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--text-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "Bebas Neue", sans-serif;*/
  font-family: var(--dec-font);
  font-weight: 500;
  font-stretch: 75%;
  color: var(--bold-color);
  text-transform: uppercase;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.l-content {
  flex: 1 0 auto;
  width: 100%;
  align-self: center;
  max-width: 30rem;
  padding: 1rem;
}

.l-content p {
  margin: 1rem 0;
}

.l-content .l-content.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-footer {
  min-height: 2rem;
  padding: 0.5rem;
  align-self: center;
}

li.fancy {
  color: var(--text-color);
}

li.fancy > a[class$="title"] {
  font-size: 1.2rem;
  font-family: var(--dec-font);
  font-weight: 600;
  font-stretch: 90%;
  text-transform: uppercase;
  margin-left: 0;
  transition: font-stretch 0.5s ease-in-out;
  position: relative;
}

li.fancy:hover > a[class$="title"] {
  font-stretch: 100%;
}
li.fancy > a[class$="title"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transform: translate(0, 0);
  background-color: var(--main-color);
  transition: transform 0.5s ease-in-out, width 0.7s ease-in-out;
}

li.fancy:hover > a[class$="title"]::after {
  transform: translate(5%, 0);
  width: 90%;
}

li.fancy > .sub-title {
  font-family: var(--dec-font);
  color: var(--bold-color);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-stretch: 75%;
  transition: 0.2s ease-in-out font-stretch;
}

li.fancy:hover > .sub-title {
  font-stretch: 90%;
}

li.fancy:hover > .summary {
  color: #333;
}
