h2 {
  font-size: 2rem;
}

h3.job-title {
  color: #333;
  font-size: 1.2rem;
  font-family: var(--dec-font);
  font-weight: 600;
  font-stretch: 90%;
  text-transform: uppercase;
  margin-left: 0;
  position: relative;
}

.job:hover > .job-dates,
.job:hover > .summary {
  color: var(--bold-color);
}

a.job-title {
  text-decoration: none;
  color: var(--main-color);
}

.company {
}

.job-dates {
  font-style: italic;
}

ul.job-list > li {
  padding: 1rem 0;
  list-style: none;
}

ul.job-list > li > .summary {
  margin: 0;
  padding: 0.5rem 0 0 0;
}

section.summary,
section.responsibilities {
  margin: 0;
  padding: 1rem 0;
}

section.responsibilities ul {
  margin: 0 0 0 1rem;
}
