ul.post-list {
}

h2 {
  font-size: 2rem;
  padding: 0 0 1rem 0;
}

ul.post-list > li {
  padding: 1rem 0;
  list-style: none;
}

a.post-title {
  text-decoration: none;
  color: var(--main-color);
}
.summary {
  margin-top: 0.25rem;
}

blockquote {
  position: relative;
  padding: 2rem 1rem;
  margin: 1rem 0;
}

blockquote:after {
  content: "";
  border-left: 1px solid #ccc;
  position: absolute;
  display: block;
  height: 66%;
  width: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

blockquote > ul {
  margin: 0;
  padding: 0;
}
blockquote > ul > li {
  list-style: none;
  text-align: right;
}

.musings ul {
  margin: 0.5rem 0;
  padding: 0 0 0 2rem;
}
.musings ul li {
  padding: 0.15rem 0;
}
